<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 class="page-header">
      <i class="<%= @page_icon %>"></i> <%= @page_heading %> <small><%= @page_desc %></small>
      <% if user_signed_in? %>
        <% if btn[:delete].present? %>  <div class="pull-right"><%= link_to "Delete", btn[:delete] , :method=>'delete' , :class=>'btn btn-default' %></div> <% end %>
        <div class="pull-right" style="margin-right:1%"><%= link_to btn[:text], btn[:url] , :class=>'btn btn-primary' %></div> 
      <% end %>
    </h3>
  </div>
</div>
