<article>
  <section class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1" style="margin-left: 0; width:100%; z-index:-1; position: absolute">
          <% @slides.each do |slide| %>
            <div data-thumb="<%= image_path slide.url %>" data-src="<%= image_path slide.url %>"></div>
          <% end %>
       </div>
        <center style="margin-top: 30%">
          <figure>
            <%= image_tag @display_picture.url, class: "img-circle img-thumbnail img-responsive", alt: "Jinal Dedhia", style: "width:150px; height:150px" %>
            <figcaption></figcaption>
          </figure>
        </center>
      </div>
    </div>
  </section>
</article>

<article>
  <section class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
          <h2><%= @greeting %></h2>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 20px;">
        <i class="fa fa-quote-left"></i>
        <%= @who_i_am %>
        <i class="fa fa-quote-right"></i>
      </div>
    </div>
  </section>
</article>

<%= render 'blogs/partials/list', blogs: @blogs, home_page: true %>

<script>
$(document).ready(function(){
    $('#camera_wrap_1').camera({
      height: '38%',
      loader: 'bar',
      pagination: false,
      hover: false
    });

 })
  </script>
